/* Start CSS reset code from lecture */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Arial";
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: blue;
  text-decoration: underline;
}
/* End CSS reset code from lecture */

.header {
  display: flex;
  margin: 2vw;
}

.contentWrapper {
  display: flex;
  margin-left: 10vw;
  width: 80vw;
  margin-right: 10vw;
  height: 100%;
  overflow-y: scroll;
}

.menu {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.row {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.menuItemHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart {
}

.menuItem {
  width: 250px;
  min-width: 300px;
  max-width: 300px;
  height: 370px;
  min-height: 370px;
  max-height: 370px;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(252, 244, 209);
  border-radius: 15px;
  margin-left: 10px;
}

.menuItemImage {
  height: 70%;
}

.menuItemContent {
  background-color: rgb(252, 244, 209);
  height: 30%;
  padding: 7px;
}

.addToCartButton {
  width: 30px;
  height: 25px;
}

p {
  font-size: 16px;
}
